<h2>Login</h2>

<h3><%= "ERROR: #{params[:error]}" if !!params[:error] %></h3>

<form action="/sessions" method="post">
  <label for="username">Username</label>
  <input name="session[username]" id="username" type="text">
  <br>
  <label for="password">Password</label>
  <input name="session[password]" id="password" type="password">
  <br>
  <input type="submit" value="Submit">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
</form>