<h2>Signup</h2>

<form action="/users" method="post">
  <label for="username">Username</label>
  <input name="user[username]" id="username" type="text">
  <br>
  <label for="password">Password</label>
  <input name="user[password]" id="password" type="password">
  <br>
  <input type="submit" value="Submit">
</form>