<h2>Cat Rental Requests</h2>

<ul>
  <% @crrs.each do |crr| %>
    <li><%= link_to "#{crr.begin_date} to #{crr.end_date} (#{crr.status})",
       "cat_rental_requests/#{crr.id}" %></li>
  <% end %>
</ul>

<%= link_to "Create new cat rental request!", new_cat_cat_rental_request_url %>